﻿@model IEnumerable<FantasyPremierClient.Data.FantasyClassicLeagueEntry>

@{
    ViewData["Title"] = "GetLeague";
}

<h2>@ViewData["LeagueId"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>
