﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form action="/LeagueStandings/GetLeague" method="post">
    <input type="text" name="leagueId" />
    <input type="submit" value="Submit weakly typed form" />
</form>

